*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .side-menu {
    position: fixed;
    background: #f05462;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .side-menu .brand-name, .side-menu .brand-surname {
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .side-menu .brand-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .side-menu .brand-img .brand-logo {
    height: 20vh;
    padding: 10px 20%;
  }
  
  .side-menu .brand-bar {
    margin-top: 30px;
    height: 1px;
    background-color: white;
  }
  
  .side-menu li {
    font-size: 24px;
    padding: 10px 20%;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .side-menu li:hover {
    background-color: white;
    color: #f05462;
  }
  
  .side-menu .list-nav {
    height: 5vh;
  }
  
  .container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
  
  .container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
  }
  
  .container .header .nav .nav-logo {
    margin: 0;
    padding: 0;
    color: #f05462;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
    flex: 3;
    text-shadow: 2px 2px black;
  }
  
  .container .header .nav .nav-logo .namelog{
    color: #f05461b7;
  }
  
  .container .header .nav .btn-logout {
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 20%;
  }
  
  .container li {
    font-size: 24px;
    color: #f05462;
    display: flex;
    align-items: center;
  }
  
  .container li:hover {
    color: black;
  }
  
  .container .list-nav {
    height: 4vh;
  }

  .container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
  }
  .container .content .menu-nav {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .content .menu-nav .col-md-3 .form-control {
    padding: 5px;
    border: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  .container .content .menu-nav .menu-search {
    margin-top: 4px;
    margin-right: 30px;
    height: 27px;
    border: 0;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  .container .content .seccion {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .content-table th,
  .content-table td {
    padding: 6px 9px;
  }
  
  table tr td{
      border:1px solid #ccc;
      padding: 7px;
      font-size: 14px;
      color: #555;
  }
  
  .table-line{
    width: 700px;
    margin: 0 auto;
    margin-top: 23px;
  }
  
  .bg-primary{
    background: #f05462;;
  }
  
  .btn{
    margin-left: 1px;
    padding: 5px;
    font-size: 12px;
    color: #e5e5e5;
    background: #f05462;;
    border-color: #f05462;;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover{
    color: #f05462;;
    background: white;
    border-color: white;
    box-shadow: 0 3px 4px rgba(0,0,0,.3);
  }
